<a href="https://colab.research.google.com/github/Tronkoletas/IESBROCENSE/blob/main/EXA_1EVA_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examen 7 de diciembre
### Nombre: _______________

In [ ]:
# Inserte la parte que falta del código a continuación para imprimir por pantalla "Hello World".

_____("Hola Mundo")

In [ ]:
# Los comentarios en Python se escriben con un carácter especial, ¿cuál?

_ Esto es un comentario

In [ ]:
# Cree una variable con nombre nombrecoche y asígnele el valor Volvo.

______ = _______

In [ ]:
# Cree una variable nombrada x y asígnele el valor 50.

_ = __

In [ ]:
# Muestre la suma de 5 + 10, usando dos variables: x e y.

_ = _ 
y = 10
print(x _ y)

In [ ]:
# Cree una variable llamada z, asígnele x + y, finalmente muestre el resultado.

x = 5
y = 10
_  = x + y
print( _ )

In [ ]:
# Elimine los caracteres ilegales en el nombre de la variable:

2my-first_name = "Ángel"

In [ ]:
# Inserte la sangría que falta para que el código sea correcto:

if 5 > 2:
print("Five is greater than two!")

In [ ]:
# Inserte la sintaxis correcta para convertir x en un número entero.

x = '5'
x = ___(x)

In [ ]:
# Muestre la longitud de la siguiente cadena de texto

x = "Hello World"
print(________)

In [ ]:
# Obtenga el primer carácter de la cadena txt.

txt = "Hello World"
x = _________

In [ ]:
# Obtenga los caracteres del índice 2 al índice 4 (llo).

txt = "Hello World"
x = _______

In [ ]:
# Devuelve la cadena sin ningún espacio en blanco al principio o al final.

txt = " Hello World "
x = _____________

In [ ]:
# Reemplace el carácter H con una J.

txt = "Hello World"
txt = ______________

In [ ]:
# La siguiente declaración imprimiría un valor booleano, ¿cuál?

print(10 > 9)
______

In [ ]:
# La siguiente declaración imprimiría un valor booleano, ¿cuál?

print(10 == 9)
________

In [ ]:
# Multiplique 10 con 5, e imprima el resultado.

______________

In [ ]:
# Divide 10 por 2 e imprime el resultado.

________________

In [ ]:
# Utilice el operador de pertenencia correcto para verificar si "manzana" está presente en la lista frutas.

frutas = ["manzana", "banana"]
if "manzana" __ frutas:
  print("Si, manzana es una fruta!")

In [ ]:
# Use el operador de comparación correcto para verificar si 5 no es igual a 10.

if 5 __ 10:
  print("5 y 10 no son iguales")

In [ ]:
# Use el operador lógico correcto para verificar si al menos una de las dos declaraciones es True.

if 5 == 10 __ 4 == 4:
  print("Al menos una de las sentencias es correcta")

In [ ]:
# Imprime el segundo elemento de la lista frutas.

frutas = ["apple", "banana", "cereza"]
print( _____________ )

In [ ]:
# Cambia el valor de "manzana" a "kiwi", en la lista frutas.

frutas = ["manzana", "banana", "cereza"]
__________ = __________

In [ ]:
# Añade la fruta "naranja" a la lista frutas.

frutas = ["manzana", "banana", "cereza"]
__________ = __________

In [ ]:
# Agregue "limón" como segundo elemento de la lista frutas.

frutas = ["manzana", "banana", "cereza"]
__________ = __________

In [ ]:
# Elimine "banana" de la lista.

frutas = ["manzana", "banana", "cereza"]
__________ = __________

In [ ]:
# Utilice la indexación negativa para imprimir el último elemento de la lista.

frutas = ["manzana", "banana", "cereza"]
__________

In [ ]:
# Utilice un rango de índices para imprimir el tercer, cuarto y quinto elemento de la lista.

frutas = ["manzana", "banana", "cereza", "naranja", "kiwi", "melon", "mango"]
_______________

In [ ]:
# Utilice la sintaxis correcta para imprimir el número de elementos de la lista.

frutas = ["manzana", "banana", "cereza", "naranja", "kiwi", "melon", "mango"]
_______________

In [ ]:
# Pida al usuario que introduzca un número y di si el número es negativo o positivo:

In [ ]:
# Muestra por pantalla los números del 0 al 100 de 8 en 8:

In [ ]:
# Cuenta cuantas frutas de la siguiente lista empiezan por la letra 'm'

frutas = ["manzana", "banana", "cereza", "naranja", "kiwi", "melon", "mango"]